{{ partial "header.html" . }}


<div class="row">
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<h1>Wide-Open</h1>
		<p>Monitoring public release of public data</p>
	</div>
</div>

<div class="row">
    <div class="col-md-1"></div>
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading"><h3><a href="geo">GEO monitoring</a></h3></div>
      <div class="panel-body">
        {{ len .Site.Data.private_geo.data }} datasets overdue in GEO
        as of {{ .Site.Data.private_geo.update_date }}
        <img src="geo/geo_graph.png" width="95%" />
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading"><h3><a href="sra">SRA monitoring</a></h3></div>
      <div class="panel-body">
        {{ len .Site.Data.private_sra.data }} datasets overdue in SRA
        as of {{ .Site.Data.private_sra.update_date }}
      </div>
    </div>
  </div>
</div>


{{ partial "footer.html" . }}
